:root {
  /* Colors */
  --background-color: #f5f5f5;
  --background-color-dark: #252525;
  --background-color-light: #f2f2f2;
  --color: #333;
  --color-dark: #9e9e9e;
  --color-title-dark: #e3e3e3;
  --color-boxes-dark: #414141;
  --color-light: #4a4a4a;
  --color-accent: green;
  --border-color: #333;

  /* Box Shadows */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

  /* Border Radii */
  --border-radius-boxes: 10px;

  /* Paddings */
  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-large: 20px;

  /* Margins */
  --margin-small: 5px;
  --margin-medium: 10px;
  --margin-large: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--color);
  font-size: 1.5rem;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--color-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode #game-container {
  background-color: var(--color-boxes-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: none;
}

body.dark-mode .modal-content {
  background-color: var(--color-boxes-dark);
}

body.dark-mode #random-letters-container {
  color: #1f1f1f;
}

body.dark-mode .suggestion-text {
  color: #f5f5f5;
}

body.dark-mode #word-input {
  color: #f5f5f5;
}

body.dark-mode .suggestion-letter:not(.highlighted) {
  color: #1f1f1f;
}

body.dark-mode #game-description {
  background-color: #414141;
  box-shadow: none;
}

body.dark-mode h2 {
  color: #f5f5f5;
}

body.dark-mode footer a {
  color: #828282;
}

body.dark-mode #home-menu,
#game-containerper {
  background-color: #414141;
}

body.dark-mode .language-selection-wrapper,
.dark-mode-toggle-wrapper {
  color: #9d9d9d;
}

.wrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#home-menu,
#game-container {
  width: 100%;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#message-display {
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #4a4a4a;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

#game-description {
  margin: 0 auto;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

#random-letters-container {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.mini-box {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 2.5px solid #333;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  background-color: var(--background-color);
  border-radius: 4px;
  opacity: 1;
  animation: fade-in 0.5s ease-out forwards;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#word-input {
  flex-grow: 1;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  width: 60%;
  background-color: transparent;
}

#check-word-btn {
  background-color: var(--background-color);
  color: #333;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0px;
  border: 2px solid #333;
}

button {
  font-size: 1.3rem;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: auto; /* Change width to auto */
  min-width: 15%; /* Add a minimum width */
}

button:hover {
  background-color: #555;
}

.game-suggestions {
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  padding-top: 30px;
}

#start-again {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
}

#start-again:hover {
  background-color: var(--color-accent);
  color: #fff !important;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
}

#suggestions-container {
  margin-top: 2rem;
}

.suggestions-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;
}

.suggestion {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.suggestion-text {
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.suggestion-letters {
  display: flex;
  text-transform: uppercase;
}

.suggestion-letter {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 2px solid #333;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  background-color: var(--background-color);
  border-radius: 4px;
}

.suggestion-letter.highlighted {
  color: #fff;
  background-color: var(--color-accent);
}

hr {
  border-top: 2px solid #333;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

#word-list li {
  display: inline-block;
  margin-right: 5px;
  border: 2px solid #333;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  background-color: var(--background-color);
  border-radius: 4px;
  padding: 5px 10px;
}

.word-length-display {
  font-size: 1rem;
  margin-right: 10px;
  text-transform: capitalize;
}

#game-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

#game-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: var(--background-color);
}

#game-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#game-buttons button {
  font-size: 1.3rem;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
  margin-bottom: 1rem;
}

#game-buttons button:hover {
  background-color: #555;
}

#game-message {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

#correct-guess-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-accent);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* Feedback messages */
.message-button {
  display: inline-block;
  margin: 2px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  background-color: #333;
  text-align: center;
  font-size: 18px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #1f1f1f;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  margin-bottom: 10px;
  color: #f5f5f5;
}

.game-header .modal-content {
  color: #1f1f1f;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  text-align: right;
}

.game-title {
  text-align: center;
  flex: 1;
  padding-right: 10%;
}

.game-score {
  margin-right: 20px;
}

.timer {
  font-size: 18px;
  width: 120px; /* set a fixed width for the timer element */
  visibility: visible; /* make the timer element visible by default */
}

.timer.inactive {
  visibility: hidden; /* hide the timer element when it's inactive */
}

footer {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}

footer a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

footer a:hover {
  border-bottom: none;
}

#readme {
  max-width: 45%;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  background-color: var(--background-color);
  border: 2px solid #333;
  border-radius: 10px;
  height: auto;
}

#readme h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

#readme h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#readme p {
  margin-bottom: 20px;
}

#readme ul {
  margin-bottom: 20px;
}

#readme ol {
  margin-bottom: 20px;
}

#readme li {
  margin-bottom: 5px;
}

#readme a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

#readme a:hover {
  border-bottom: none;
}

/* Settings */

.settings-cog {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  margin: 0px;
}

.settings-cog:hover {
  background: none;
}

.settings-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  /* add other styles as needed */
}

.modal-content {
  position: relative;
  background-color: #f5f5f5;
  margin: 10% auto;
  padding: 20px;
  max-width: 20%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--border-color);
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Dark Mode Toggle */
.dark-mode-toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px; /* Increase font size */
  margin-bottom: 20px;
}

.dark-mode-toggle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #333;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  outline: none;
}

.dark-mode-toggle::before {
  content: "";
  position: absolute;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.dark-mode-toggle:checked {
  background-color: var(--color-accent);
}

.dark-mode-toggle:checked::before {
  transform: translateX(30px);
}

.language-selection-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

#language-selection {
  padding: 6px 10px;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

#start-again:after {
  content: "⌘K";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -15px;
  right: -15px;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 12px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
}
